@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.text-content {
    color: #00244877;
    font-size: 20px;
}

.content:hover {
    color: #b98d2e;
}

.content::before {
    border-top: #b98d2e;

}

.card.custom-card2 {
    border: none;
    /* box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff; */
}

.custom-card2:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(185, 141, 46, 1);
}

/* Card.css */

.custom-card2 {
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
}


.card-li li {
    padding-top: 12px;
    font-family: 'Roboto', sans-serif;
}

.img1 {
    height: 100px;
    width: 100%;
}

.play {
    animation: moveRow 55s infinite linear;
}

.nav-pills .nav-link.active {
    color: yellow;
}


.testimonal {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: violet;
}

.section-header {
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    padding-bottom: 25px;
    color: black;
}

.section-header::after {
    content: '';
    height: 3px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc(52% - 100px);
    background: white;
    display: block;
    /* Add this line */
}

.section-header span {
    display: block;
    font-size: 15px;
    font-weight: 300;
}
.testimonals{
    max-width: 1000px;
    padding: 0px 15px 50px;
    margin: 0 auto 80px auto;
}
.single-item{
    background-color: white;
    color: black;
    padding: 15px;
    margin: 50px 15px;

}
.profile{
    margin-bottom:40px;
   
    
}   
.img-area{
    margin: 0 15px 15px 65px;
}
.img-area img{
    height: 200px;
    width: 200px;
    border-radius:60%;
    border: 7px solid var(--axess-gold-3);
    overflow: hidden;
}
.content1{
    font-size: 20px;

}


.content1 p{
    text-align: justify;
}
.content1  p span{
    font-size: 46px;
    margin-right:16px;
    color:var(--axess-gold-3);
}

.socials i{
    margin-right: 25px;

}
.bio h4{
    font-family: 'Times New Roman', Times, serif;

}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    background-color:var(--axess-gold-3);
    
}
@keyframes moveRow {
    0% {
        transform: translate3d(0, 0, 0);
    }

    25% {
        transform: translate3d(-60%, 0, 0);
    }

    50% {
        transform: translate3d(-120%, 0, 0);
    }

    75% {
        transform: translate3d(-180%, 0, 0);
    }

    100% {
        transform: translate3d(-240%, 0, 0);
    }
}
