
@import "./index.scss";

.tech-navpills{
    .tech-buttons{
        button{
            padding:10px 10px ;
            margin: 0 2px;
            border: none;
            // color: var(--axess-secondary) ;
            // background-color: var(--axess-gold-2);
            border: solid 2px var(--axess-secondary);
            border-radius: 30px;
        }
    }
    .technology-list{
            img{
                width: 100px;
                height: auto;
                filter: grayscale(1);
            }
            img:hover{
                filter: grayscale(0);
            }
    }
}
